/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1220px) {


@media only screen and (max-width : 1200px) {
	header {
	 	display: none;
	}

	.cataloge {
		height: 950px;
	}

	.text_cataloge {
		font-size: 30px;
		font-weight: bold;
		padding-top: 30px;
	}

	.cataloge_item {
		height: 160px;
		width: 160px;
		padding-top: 10px;
		margin-bottom: 150px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


/* Extra Small Devices, Phones */
@media only screen and (max-width : 420px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}