body {
	font-family: 'Adelle Cyrillic', sans;
}

.p0 {
	padding: 0;
}

/* BUTTONS */

.btn_nav {
	font-family: 'Roboto Slab', sans;
	color: #fff;
	background-color: #510045;
}

.btn_cataloge {
	font-family: 'Roboto Slab', sans;
	color: #fff;
	background-color: #510045;
	padding: 20px 40px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	border-radius: 20px;
}

.btn_card {
	font-family: 'Roboto Slab', sans;
	color: #fff;
	background-color: #510045;
	padding: 10px 50px;
	border-radius: 20px;
}

.delivery_btn {
	font-family: 'Roboto Slab', sans;
	padding-top: 40px;
	margin-bottom: 50px;
}

.btn_location {
	font-family: 'Roboto Slab', sans;
	color: #fff;
	background-color: #510045;
	padding: 10px 85px;
	margin-top: 10px;
	border-radius: 15px;
}

/* HEADER */

header {
	height: 110px;
	background-image: url('../img/navbar_bg.png');
	-webkit-background-size: cover;
	background-size: cover;
}

.menu {
	margin-left: 20px;
}

.menu li {
	padding: 25px 25px 25px 0;
}

.menu a {
	color: #200014;
	font-size: 17px;
}

.menu a:hover {
	background-color: #bc41aa;
	border-radius: 10px;
	color: #fff;
}

.order {
	display: block;
	padding: 30px 0;
}

.order .basket {
	text-decoration: none;
	margin-right: 20px;
}

/* CATALOGE */

.cataloge {
	height: 805px;
	background-image: 
	url('../img/bg_cataloge.png'),
	url('../img/news.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 2;
}

.text_cataloge {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding-top: 60px;
}

.text_cataloge h1 {
	font-weight: bold;
	font-size: 48px;
}

.text_cataloge h2 {
	font-size: 36px;
}

.cataloge_item {
	height: 200px;
	width: 200px;
	padding-top: 60px;
}

.cataloge_item p {
	color: #fff;
	text-align: center;
	font-size: 16px;
	padding-top: 15px;
}

.go_cataloge {
	padding-top: 200px;	
}

/* NEWS */

.news {
	height: 835px;
	background-image: url('../img/news.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

.news_text {
	text-transform: uppercase;
	color: #35002d;
	text-align: center;
	font-size: 35px;
	padding-bottom: 20px;
}

.card {
	height: 680px;
	width: 460px;
}

.my_card {
	border-radius: 10px;
}

/* ABOUT US */

.about_us {
	height: 760px;
	background-image: url('../img/about us.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

.about_us_h3 {
	color: #fff;
	font-size: 35px;
	line-height: 1.5;
	text-transform: uppercase;
	padding-top: 50px;
}

.about_us_text {
	color: #fff;
	font-size: 18px;
}

.img_about img {
	height: 530px;
	width: 670px;
}

/* OUR CATALOGE */

.our_cataloge {
	height: 980px;
	background-image: url('../img/cataloge.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

.h3_cataloge {
	text-align: center;
	color: #11000e;
	text-transform: uppercase;
	padding-top: 50px;
}

.h3_cataloge h3 {
	font-size: 35px;
	font-weight: bold;
}

.item_our_cataloge {
	padding-bottom: 50px;

}

.card_cataloge {
	height: 390px;
	width: 300px;
	border-radius: 10px;
}

/* DELIVERY */

.delivery {
	height: 556px;
	background-image: url('../img/delivery.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

.text_delivery {
	text-transform: uppercase;
	text-align: center;
	padding: 50px 0;
}

.text_delivery h3 {
	font-weight: bold;
	font-size: 35px;
	color: #fff;
}

.delivery_item p {
	color: #fff;
	text-align: center;
	padding-top: 25px;
}

.delivery_item p span {
	font-size: 13px;
}

/* LOCATION */

.location {
	height: 650px;
	background-image: url('../img/navbar_bg.png');
	-webkit-background-size: cover;
	background-size: cover;

}

.text_location {
	color: #430239;
	text-transform: uppercase;
}

.card_location {
	height: 450px;
	width: 300px;
	border-radius: 15px;
}

.text_location h3 {
	padding-top: 50px;
	padding-bottom: 30px;
	font-weight: bold;
}

.h3_location {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
}

.f1 input {
	border-radius: 15px;
	margin-bottom: -5px;
}

.f2 input {
	height: 90px;
}
/* FOOTER */

footer {
	height: 100px;
	background-image: url('../img/footer.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

.footer_item {
	padding-top: 40px;
	color: #b58cb0;
}

.footer_item span {
	font-style: italic;
}

.upper {
	border: 1px solid #e9b9df;
	padding: 10px 30px;
	border-radius: 5px;
	font-style: italic;
	color: #e9b9df;
}

.upper:hover {
	text-decoration: none;
	color: #e9b9df;
}

.num {
	color: #e9b9df;
	font-style: italic;
}